
    .list-item
    {

     display: flex;
     justify-content: space-between;
   
    &__singer
    {
        color:blue;
        cursor: pointer;
    }
    &__detail
    {
        width: 120px;
    }
}
